<template>
    <div class="append-user">
        <div>
            <input v-model="Login" placeholder="Пригласить по логину">
            <button @click="appendUserByLogin">Пригласить</button>
        </div>
        <div v-if="true">
            <input v-model="Email" type="email" placeholder="Пригласить по email">
            <button @click="appendUserByEmail">Пригласить</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AppenUser",
        data: () => ({
            Login: '',
            Email: '',
        }),
        methods: {
            async appendUserByLogin() {
                let user = await this.$store.dispatch('user/findUser', this.Login)
                if (user.id) {
                    this.$emit('append-user', user)
                    this.Login = ''
                } else {
                    alert('Пользователя нет в БД')
                }
            },
            async appendUserByEmail() {
                let user = await this.$store.dispatch('chats/newUser', {idChat: this.$route.params.id, Email: this.Email})
                this.$emit('append-user', user)
                this.Email = ''
            },
        }
    }
</script>

<style scoped lang="scss">
    @import "../../assets/color";
    @import "../../assets/btn";
    .append-user {
        display: flex;
        flex-direction: column;
        //border: 1px solid $action;
        //padding: 10px;

        & > * {
            & > * {
                margin: 5px;
                padding: 5px;
            }

            button {
                @include btn();
            }

            width: 100%;
            display: flex;

            input {
                width: 100%;
            }
        }
    }
</style>