<template>
    <div class="append-user" :class="{show}">
        <div class="user" v-for="user in users">
            {{user.Login}}
            <button class="btn-remove" @click="remove(user)">Удалить</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AppendUser",
        props: {
            show: {type: Boolean, default: true,},
            users: {type: Array, default: () => ([]),},
        },
        methods: {
            remove(user) {
                this.$emit('remove-user', user);
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../../assets/btn";

    .user {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .btn-remove {
            @include btn(remove);
        }
    }

    .btn-append {
        @include btn();
    }
</style>