<template>
    <div class="form-send">
        <img class="preview" v-if="append" :src="`files/${append}`"/>
        <div v-if="keyBoard">
            <div class="button-bot" v-for="btn in keyBoard" @click="send(btn)">{{btn}}</div>
        </div>
        <div class="form">
            <div class="append-file" @click="$refs.file.click()">+</div>
            <textarea class="message" @keyup.enter="send" v-model="text" placeholder="Ваше сообщение..."></textarea>
            <div class="btn-send" @click="send">Отправить</div>
            <input type="file" accept="image/*" ref="file" @change="upload">
        </div>
    </div>
</template>

<script>
    export default {
        name: "form-send",
        props: {
            keyBoard: {type: [Array, Boolean], default: () => ([])},
        },
        data: () => ({
            text: '',
            append: '',
        }),
        methods: {
            send(text) {
                if (text) this.text = text;
                this.$emit('send', this.$data);
                this.text = ''
                this.append = ''
            },
            async upload() {
                const formData = new FormData()
                formData.append('file', this.$refs.file.files[0])

                this.append = await fetch('/upload', {
                    method: 'POST', // 'GET', 'PUT', 'DELETE', etc.
                    body: formData  // Coordinate the body type with 'Content-Type'
                })
                    .then(function (e) {
                        return e.text()
                    })
                    .catch(e => {
                        console.error(e)
                    })
            },
        }
    }
</script>

<style scoped lang="scss">
    @import "../../assets/color";
    @import "../../assets/btn";

    .form-send {

        .form {
            //height: 5rem;
            display: flex;
            align-items: center;
            border-top: 1px solid $action;
            margin: 0px -10px;

            .message {
                border: none;
                resize: none;
                width: 100%;
                //height: calc(100% - 20px);
                padding: 10px;
                height: 5rem;
            }

            .btn-send {
                width: 100px;
                background-color: $action;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 5rem;
            }

            .append-file {
                width: 3rem;
                height: 5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }

            input[type=file] {
                display: none;
            }
        }
        .preview {
            width: 100%;
        }

        .button-bot {
            @include btn();
        }
    }
</style>