<template>
    <div class="chat">
        <div class="chat-messages" ref="ChatMessages">
            <message
                v-for="message in messages"
                :text="message.Text"
                :img="message.Append"
                :time="message.DateAt"
                :from="users.find(user => user.id == message.FromId) || {}"
                :left="message.FromId != user.id"
            />
        </div>
        <form-send class="form-send"  @send="e => $emit('send', e)" :key-board="keyBoard"/>
    </div>
</template>

<script>
    import message from './message'
    import FormSend from './form-send'

    export default {
        name: "ComponentChat",
        props: {
            messages: {type: Array, default: () => ([])},
            users: {type: Array, default: () => ([])},
            keyBoard: {type: [Array, Boolean], default: () => ([])},
        },
        computed: {
            user() { return this.$store.state.user }
        },
        components: {
            FormSend, message
        },
        async mounted() {
            await this.$nextTick();
            this.$refs.ChatMessages.scrollTo(0, 10000000)
        },
        watch: {
            async messages() {
                await this.$nextTick();
                this.$refs.ChatMessages.scrollTo(0, 10000000)
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../../assets/color";

    .chat {
        border: 1px solid $action;
        padding: 10px;
        padding-bottom: 0px;
        display: flex;
        flex-direction: column;

        .chat-messages {
            display: flex;
            flex-direction: column;
            height: 100%;
            max-height: 100%;
            overflow-y: auto;
        }

        .form-send {
            justify-content: flex-end;
        }
    }
</style>