<template>
    <div class="message" :class="{left}">
        <div class="content">
            {{text}}
            <img v-if="img" :src="`/files/${img}`" />
            <div class="from" v-if="left">{{from.Login || 'Неизвестный'}}, {{time | moment}}</div>
            <div class="from" v-else>Вы, {{time | moment}}</div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'
    export default {
        name: "message",
        props: {
            text: {type: String, default: ''},
            img: {type: String, default: ''},
            from: {type: [String, Number, Object], default: ''},
            time: {type: [String, Number], default: null, },
            left: {type: Boolean, default: false},
        }, filters: {
            moment(time) {
                moment.locale("ru");
                return moment(time).fromNow()
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../../assets/color";

    .message {
        margin-bottom: 10px;

        .content {
            border: 1px solid $action;
            padding: 10px;
            border-radius: 10px;
            float: right;

            .from {
                margin-top: 5px;
                font-size: 0.8rem;
                font-style: italic;
                opacity: 0.5;
            }
        }

        &.left {
            .content {
                float: left;
            }
        }

        img {
            width: 100%;
            margin-top: 5px;
            max-width: 300px;
            display: block;
        }

    }
</style>