<template>
    <div class="props" :class="{show}">
        <input placeholder="Название чата" v-model="chat.Name">
        <textarea placeholder="Описание чата" v-model="chat.Desc"></textarea>
        <div class="control-users">
            <control-users class="list-users" :users="chat.Users" @remove-user="removeUser"/>
            <appen-user class="form-append" @append-user="appendUser" />
        </div>
        <div>
            <button v-if="New" class="btn-create" @click="create">
                Продолжить
            </button>
            <button v-else class="btn-remove" @click="remove">
                Удалить чат и всю переписку
            </button>
        </div>
    </div>
</template>

<script>
    import ControlUsers from "./ControlUsers"
    import AppenUser from "./AppenUser"
    import {mapGetters, mapState} from 'vuex'

    export default {
        name: "ChatProps",
        props: {
            show: {type: Boolean, default: false,},
            New: {type: Boolean, default: false,},
        },
        components: {ControlUsers, AppenUser},
        data: () => ({
            chat: {
                id: null, Desc: '', Name: '', Users: [],
            }
        }),
        mounted() {
            this.chat = this.$store.getters['chats/byId'](this.$route.params.id)
            if (this.New) {
                this.chat.Users.push(this.$store.state.user)
            }
        },
        watch: {
            '$route'() {
                this.chat = this.$store.getters['chats/byId'](this.$route.params.id)
            }
        },
        beforeDestroy() {
            if (!this.New)
                this.$store.dispatch('chats/update', this.chat)
        },
        methods: {
            removeUser(user) {
                this.chat.Users = this.chat.Users.filter(User => User.id != user.id)
            },
            appendUser(user) {
                if (this.chat.Users.find(User => User.id == user.id)) {
                    alert('Такой пользователь уже добавлен')
                } else {
                    this.chat.Users.push(user)
                }
            },
            async create() {
                await this.$store.dispatch('chats/create', this.chat)
            },
            async remove() {
                await this.$store.dispatch('chats/remove', this.chat)
            },
        }
    }
</script>

<style scoped lang="scss">
    @import "../../assets/color";
    @import "../../assets/btn";

    .props {
        display: flex;
        flex-direction: column;
        padding: 10px;
        border: 1px solid $action;

        & > * {
            margin-bottom: 10px;
        }

        input, textarea {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border: 1px solid $action;
            padding: 0.2rem;
        }

        textarea {
            min-height: 5rem;
        }

        .btn-create {
            @include btn(action);
            min-width: 200px;
            float: right;
            margin: 5px;
        }

        .btn-remove {
            @include btn(remove);
            min-width: 200px;
            margin: 5px;
        }

        .control-users {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

            .form-append {
                margin-top: 10px;
            }
        }
    }
</style>