<template>
    <div class="auth">
        <router-link class="signin" to="/signin">Регистрация</router-link>
        <div class="panel">
            <p>Авторизация</p>
            <input placeholder="Login" type="text" v-model="Login"/>
            <input placeholder="Пароль" type="password" v-model="Pass"/>
            <button class="btn" @click="auth">Войти</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Auth",
        data: () => ({
            Login: 'User1',
            Pass: '123',
        }),
        methods: {
            auth() {
                let vm = this;
                this.$store.dispatch('user/LogIn', {
                    ...this.$data, callback(result) {
                        if (result) {
                            vm.$router.push('/chat')
                        } else {
                            alert('Ошибка авторизации')
                        }
                    }
                })

            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../assets/color";
    @import "../assets/btn";

    .auth {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;

        .panel {
            border: 1px solid $action;
            padding: 10px;
            display: flex;
            flex-direction: column;

            P {
                margin-top: 0px;
            }

            & > * {
                padding: 5px;
                margin-bottom: 5px;

                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }

        .signin {
            position: absolute;
            top: 1rem;
            right: 1rem;
            display: inline;
        }
    }
</style>