<template>
    <div class="chat">
        <div class="header">
            <component-user class="header-user"/>
            <chat-config :admin="user.id == chat.idUser" class="header-chat-config"/>
        </div>
        <div class="content">
            <list-chat :items="chats" class="content-list-chat"/>
            <component-chat
                    v-if="$route.name == 'Chat'" class="content-chat" @send="send"
                    :messages="messages" :users="chat.Users" :key-board="chat.keyboard"
            />
            <chat-props v-if="$route.name == 'NewChat'" class="content-chat" new/>
            <chat-props v-if="$route.name == 'ChatProps'" class="content-chat"/>
            <chat-appen-user v-if="$route.name == 'ChatAppendUser'" class="content-chat"/>
        </div>
    </div>
</template>

<script>
    import ComponentUser from '../components/User'
    import ChatConfig from '../components/ChatConfig'
    import ListChat from '../components/ListChats'
    import ComponentChat from '../components/Chat/index'
    import ChatProps from '../components/Chat/Props'
    import ChatAppenUser from '../components/Chat/AppenUser'

    import {mapGetters, mapState} from 'vuex'

    export default {
        name: 'Chat',
        components: {ListChat, ComponentChat, ComponentUser, ChatConfig, ChatProps, ChatAppenUser},
        computed: {
            ...mapGetters('messages', {items: 'index'}),
            ...mapGetters('chats', {chats: 'index'}),
            user() {
                return this.$store.state.user;
            },
            chat() {
                return this.chats.find(chat => chat.id == this.$route.params.id) || {Users: []};
            },
        },
        watch: {
            items() {
                this.messages = this.items.filter(item => item.idChat == this.$route.params.id);
            },
            '$route'() {
                if (this.$route.name == 'Chat') {
                    this.messages = this.items.filter(item => item.idChat == this.$route.params.id);
                }
            },
        },
        data: () => ({
            messages: [],
        }),
        methods: {
            send({text, append}) {
                this.$store.dispatch('messages/append', {
                    Text: text,
                    Append: append,
                    DateAt: new Date().getTime(),
                    FromId: this.user.id,
                    idChat: this.$route.params.id
                })
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../assets/color";

    $left-collumn: 30vw;
    $left-collumn-min: 300px;
    .chat {
        height: 100%;

        .header {
            display: flex;

            .header-user {
                width: $left-collumn;
                min-width: $left-collumn-min;
            }

            .header-chat-config {
                width: 100%;
            }

            background-color: $action;

        }

        .content {
            display: flex;
            margin: 10px;
            height: calc(100vh - 6rem);

            .content-list-chat {
                width: $left-collumn;
                min-width: $left-collumn-min;
            }

            .content-chat {
                margin-left: 10px;
                width: 100%;
            }
        }
    }
</style>