<template>
    <div class="auth">
        <router-link class="auth" to="/auth">Авторизация</router-link>
        <div class="panel">
            <p>Регистрация</p>
            <input placeholder="Login" type="text" v-model="Login"/>
            <input placeholder="Email" type="email" v-model="Email"/>
            <input placeholder="Пароль" type="password" v-model="Pass1"/>
            <input placeholder="Пароль" type="password" v-model="Pass2"/>
            <button class="btn" @click="auth">Продолжить</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SingIn",
        data: () => ({
            Login: 'UserLogin',
            Email: 'UserLogin@mail.ru',
            Pass1: '123',
            Pass2: '123',
        }),
        methods: {
            async auth() {
                let vm = this;
                await this.$store.dispatch('user/SignIn', {...this.$data, Pass: this.Pass1, callback(res) {
                        if (res) vm.$router.push('/chat'); else alert('Ошибка')
                    }})
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../assets/color";
    @import "../assets/btn";

    .auth {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;

        .panel {
            border: 1px solid $action;
            padding: 10px;
            display: flex;
            flex-direction: column;

            P {
                margin-top: 0px;
            }

            & > * {
                padding: 5px;
                margin-bottom: 5px;

                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }

        .auth {
            position: absolute;
            top: 1rem;
            right: 1rem;
            display: inline;
        }

    }
</style>