<template>
    <div class="user">
        <div class="header">
            <router-link to="/chat">К чатам</router-link>
            <button class="logout" @click="logout">Выйти</button>

        </div>
        <div class="panel-row" v-if="$route.name == 'User'">
            <p>Login: {{User.Login}}</p>
            <p>Email: {{User.Email}}</p>
            <router-link to="/user/edit" class="edit">Изменить</router-link>
        </div>
        <div class="panel-row" v-if="$route.name == 'UserEdit'">
            <input v-model="User.Pass1" placeholder="Password 1">
            <input v-model="User.Pass2" placeholder="Password 2">
            <button @click="savePass" class="save">Сохранить</button>
        </div>
        <div class="panel-row" v-if="$route.name == 'UserEdit'">
            <input v-model="User.Login" disabled>
            <input v-model="User.Email">
            <button @click="save" class="save">Сохранить</button>
        </div>
    </div>
</template>

<script>
    import ListChat from '../components/ListChats'
    import ChatConfig from "../components/ChatConfig";

    export default {
        name: "User",
        components: {ChatConfig, ListChat},
        data: () => ({
            User: {
                id: null,
                Login: '',
                Email: '',
                Pass1: '',
                Pass2: '',
            }
        }),
        mounted() {
            this.User = this.$store.state.user;
        },
        methods: {
            logout() {
                this.$store.dispatch('user/LogOut')
                this.$router.push('/')
            },
            save() {
                this.$store.dispatch('user/Update', this.User);
                this.User.Pass1 = '';
                this.User.Pass2 = '';
                this.$router.push('/user')
            },
            savePass() {
                if (this.User.Pass1 != this.User.Pass2) return;
                this.$store.dispatch('user/UpdatePass', this.User.Pass1);
                this.User.Pass1 = '';
                this.User.Pass2 = '';
                this.$router.push('/user')
            },
        }
    }
</script>

<style lang="scss" scoped>
    @import "../assets/color";
    @import "../assets/btn";

    .user {
        //padding: 10px;
        //display: flex;

        .header {
            background-color: $action;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;

            a {
                @include btn();
                width: 100px;
            }

            .logout {
                @include btn(remove);
                width: 100px;
            }
        }

        .list-chat {
            width: 30vw;
            min-width: 300px;
        }

        .panel {
            margin: 10px;
            padding: 10px;
            border: 1px solid $action;
            width: calc(100% - 40px);

            display: flex;
            flex-direction: column;

            & > * {
                margin: 5px;
            }

            input {
                padding: 5px;
            }

            .edit, .save {
                @include btn();
                width: 200px;
            }
        }

        .panel-row {
            margin: 10px;
            padding: 10px;
            border: 1px solid $action;
            width: calc(100% - 40px);

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            & > * {
                margin: 5px;
            }

            input {
                padding: 5px;
                width: 100%;
            }

            p {
                width: 100%;
            }

            .edit, .save {
                @include btn();
                width: 100%;
                max-width: 300px;
            }

        }
    }
</style>