<template>
    <div class="user">
        <router-link v-if="$route.name=='Chat' && admin" :to="{name: 'ChatProps', params: {id: $route.params.id}}" class="btn">
            Настройки
        </router-link>
        <router-link v-if="$route.name=='ChatProps' || $route.name=='ChatAppendUser'" :to="{name: 'Chat', params: {id: $route.params.id}}" class="btn">
            Перейти к чату
        </router-link>
    </div>
</template>

<script>
    export default {
        name: "ChatConfig",
        props: {
            admin: { type: Boolean, default: false }
        }
    }
</script>

<style scoped lang="scss">
    .user {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0px 10px;

        @import "../assets/btn";

        .btn-remove {
            @include btn(remove);
        }
    }
</style>