<template>
    <div class="list-chat">
        <router-link
            v-for="item of items" class="item" :class="{active: item.id == $route.params.id}"
            :to="`/chat/${item.id}`"
            :title="item.Desc"
        >
            <div class="title">{{item.Name}}</div>
            <i v-if="item.LastMessage">
                {{getUserById(item.LastMessage.FromId)}}: {{item.LastMessage.Text}}
            </i>
            <i v-else>Сообщений нет</i>
        </router-link>
        <router-link
            :to="`/chat/new`"
            title="Новый чат"
            class="item"
        >
            <div class="title">Написть</div>
            <i>Новый чат для переписки</i>
        </router-link>
    </div>
</template>

<script>
    export default {
        name: 'ListChats',
        props: {
            items: {type: Array, default: () => ([])},
        },
        methods: {
            getUserById(id) {
                if (!this.items || !this.items.Users) return 'Неизвестный'
                let User = this.item.Users.find(user => user.id == id)
                if (!User) return 'Неизвестный'
                return User.Login
            }
        }
    }

</script>

<style lang="scss" scoped>
    @import "../assets/color";

    .list-chat {
        overflow-y: auto;
        overflow-x: hidden;

        .item {
            display: block;
            width: calc(100% - 20px);
            padding: 10px;
            text-decoration: none;
            border: 1px solid $action;
            color: black;

            &.active {
                background-color: $action;
                border: 1px solid transparent;
            }
        }
    }
</style>
