<template>
    <div class="user">
        <router-link :to="{name: 'User'}" class="btn">{{user.Login}}</router-link>
    </div>
</template>

<script>
    export default {
        name: "ComponentUser",
        computed: {
            user() {
                return this.$store.state.user
            }
        }
    }
</script>

<style lang="scss" scoped>
.user {
    border: 1px solid transparent;

    .btn {
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: underline;
        cursor: pointer;
        color: black;
    }
}
</style>