@import "color";

.btn {
    background-color: $btn-default;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
    color: black;
    text-decoration: none;
    color: $btn-default-color;
}

@mixin btn($type: standart) {
    @extend .btn;
    @if $type == "action" {
        color: $btn-action-color;
    }
    @if $type == "remove" {
        background-color: $btn-error;
    }
}
