$default: white;
$action: lighten(black, 85);
$btn-default: lighten(black, 80);
$btn-default-color: darken(white, 70);
$btn-action: lighten(black, 70);
$btn-action-color: darken(white, 80);
$btn-error: lighten(red, 35);